.btn-login {
  width: 100%;
  background: #00d664;
  color: #fff;
}

.page-login {
  background: #fff;

}

.form-control {
  background: #ebebeb;
}

.btn-link-style {
  text-decoration: none;
}


.form_register {
    background: #dee2e6;
    border:none;
    border-radius: 8px; -webkit-border-radius:8px;
    height: 475px;
    margin: 50px auto 0;
    max-width: 470px;
    padding: 20px 20px;
}
.btn:hover {
  background: #00d664;
}
.text-register{
  margin-bottom: 27px;
}

@media (max-width: 1600px){
  
  .form_register{
      height: 490px;
      max-width: 430px;
      padding: 20px 50px;
    
  }
}